{% extends 'auth_base.html' %}
{% load static %}
{% block content %}
    <section class="flexbox-container">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-lg-4 col-md-6 col-10 box-shadow-2 p-0">
                <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                    <div class="card-header border-0">
                        <div class="text-center mb-1">
                            <img src="app-assets/images/logo/logo.png" alt="branding logo">
                        </div>
                        <div class="font-large-1  text-center">
                            Change password
                        </div>
                    </div>
                    <div class="card-content">

                        <div class="card-body">
                            <form class="form-horizontal" method="post">
                                {% csrf_token %}
                                {% include 'accounts/error_file.html' %}
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="password" class="form-control round" id="user-old-password"
                                           name="old_password" placeholder="Your Old Password" required>
                                    <div class="form-control-position">
                                        <i class="ft-lock"></i>
                                    </div>
                                </fieldset><fieldset class="form-group position-relative has-icon-left">
                                    <input type="password" class="form-control round" id="user-new-password1"
                                           name="new_password1" placeholder="Your New Password" required>
                                    <div class="form-control-position">
                                        <i class="ft-lock"></i>
                                    </div>
                                </fieldset><fieldset class="form-group position-relative has-icon-left">
                                    <input type="password" class="form-control round" id="user-new-password2"
                                           name="new_password2" placeholder="Repeat New Password" required>
                                    <div class="form-control-position">
                                        <i class="ft-lock"></i>
                                    </div>
                                </fieldset>
                                <div class="form-group text-center">
                                    <button type="submit"
                                            class="btn round btn-block btn-glow btn-bg-gradient-x-purple-blue col-12 mr-1 mb-1">
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
