{% extends 'auth_base.html' %}
{% load static %}

{% block content %}
    <section class="flexbox-container">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-lg-4 col-md-6 col-10 box-shadow-2 p-0">
                <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                    <div class="card-header border-0">
                        <div class="text-center mb-1">
                            <img src="app-assets/images/logo/logo.png" alt="branding logo">
                        </div>
                        <div class="font-large-1  text-center">
                            Member Login
                        </div>
                    </div>
                    <div class="card-content">

                        <div class="card-body">
                            <form class="form-horizontal" method="post">
                                {% csrf_token %}
                                {% if error %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error }}</strong>
                                    </div>
                                {% endif %}
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="text" class="form-control round" id="user-name"
                                           name="username" placeholder="Your Username" required>
                                    <div class="form-control-position">
                                        <i class="ft-user"></i>
                                    </div>
                                </fieldset>
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="password" class="form-control round" id="user-password"
                                           name="password" placeholder="Enter Password" required>
                                    <div class="form-control-position">
                                        <i class="ft-lock"></i>
                                    </div>
                                </fieldset>
                                <div class="form-group row">
                                    <div class="col-md-6 col-12 text-center text-sm-left">

                                    </div>
                                    <div class="col-md-6 col-12 float-sm-left text-center text-sm-right"><a
                                            href="{% url 'accounts:password_reset' %}" class="card-link">Forgot Password?</a></div>
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit"
                                            class="btn round btn-block btn-glow btn-bg-gradient-x-purple-blue col-12 mr-1 mb-1">
                                        Login
                                    </button>
                                </div>

                            </form>
                        </div>
                        <p class="card-subtitle text-muted text-right font-small-3 mx-2 my-1"><span>Don't have an account ? <a
                                href="{% url 'accounts:signup' %}" class="card-link">Sign Up</a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
