{% extends 'base.html' %}
{% load static %}

{% block main_menu %}

    <div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true"
         data-img="{% static 'app-assets/images/backgrounds/02.jpg' %}">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto"><a class="navbar-brand" href="{% url 'core:home' %}"><img
                        class="brand-logo" alt="Chameleon admin logo"
                        src="{% static 'app-assets/images/logo/logo.png' %}"/>
                    <h3 class="brand-text">Dashboard</h3>
                </a>
                </li>
            </ul>
        </div>
        <div class="navigation-background"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <h4 style="margin-left: 5px"> Watch List</h4>
                {% for watch in watch %}
                    <li style="margin-left: 5px" class="nav-item mr-auto">
                        <span>{{ watch.exch_seg }}:{{ watch.token }} - {{ watch.symbol }} </span> <span
                            id="ltp{{ forloop.counter }}"></span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}


{% block content %}

    <!-- BEGIN: Content-->
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-wrapper-before"></div>
            <div class="content-header row">

            </div>
            <div class="content-body">
                <!-- Revenue, Hit Rate & Deals -->


                <!-- Basic form layout section start -->
                <section id="basic-form-layouts">
                    <div class="row match-height">
                        <div class="col-md-5">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Project Revenue</h4>
                                    <a class="heading-elements-toggle"><i
                                            class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li>
                                                <button type="button"
                                                        class="btn btn-glow btn-round btn-bg-gradient-x-red-pink">More
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body p-0 pb-0">
                                        <div class="chartist">
                                            <div id="project-stats" class="height-350 areaGradientShadow1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card">
                                <div class="card-content collapse show">
                                    <div class="card-body">
                                        <form method="post" class="form">
                                            {% csrf_token %}
                                            <div class="form-body">
                                                <h4 class="form-section">
                                                    <i class="ft-flag"></i>Transaction Form</h4>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div style="margin-left: 2%" class="row">
                                                                <label for="id_Stock">Stock</label>
                                                            </div>
                                                            <select class="select2 form-control"
                                                                    id="id_Stock" name="Stock">
                                                                <option value="0" selected>------</option>
                                                                {% for stock in stocks %}
                                                                    <option value="{{ stock.token }}">{{ stock.exch_seg }}:{{ stock.symbol }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="id_Watch">Stock from Watch List</label>
                                                            <select id="id_Watch" name="Type"
                                                                    class="form-control">
                                                                {% for watch in watch %}
                                                                    <option value="{{ watch.id }}">{{ watch.exch_seg }}:{{ watch.symbol }} </option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="id_Type">BUY / SELL</label>
                                                            <select id="id_Type" name="Type"
                                                                    class="form-control">
                                                                <option value="Buy">Buy</option>
                                                                <option value="Sell">Sell</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label for="id_Bucket">
                                                                Bucket
                                                            </label>
                                                            <select class="select2 form-control"
                                                                    id="id_Bucket" name="Bucket">
                                                                {% for bucket in bucket %}
                                                                    <option value="{{ bucket.id }}">{{ bucket }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="mb-2 mx-2">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input rew-1" type="radio"
                                                                   name="ProductType" id="check_regular" value="Regular"
                                                                   onchange="change_regular()">
                                                            <label class="form-check-label"
                                                                   for="check_regular">Regular</label>
                                                        </div>
                                                        <div class="form-check form-check-inline mx-4">
                                                            <input class="form-check-input rew-12" type="radio"
                                                                   name="ProductType" id="check_co" value="CO"
                                                                   onchange="change_co()">
                                                            <label class="form-check-label"
                                                                   for="check_co">CO</label>
                                                        </div>

                                                        <div class="form-check form-check-inline mx-4">
                                                            <input class="form-check-input rew-12" type="radio"
                                                                   name="ProductType" id="check_bo" value="BO"
                                                                   onchange="change_bo()">
                                                            <label class="form-check-label"
                                                                   for="check_bo">BO</label>
                                                        </div>
                                                        <div class="form-check form-check-inline mx-3">
                                                            <input class="form-check-input rew-1" type="radio"
                                                                   name="ProductType" id="check_awo" value="AMO"
                                                                   onchange="change_awo()">
                                                            <label class="form-check-label"
                                                                   for="check_awo">AMO</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mr-1">
                                                    <div class="mb-2 mx-2">

                                                        <div class="form-check form-check-inline ">
                                                            <input class="form-check-input" type="radio"
                                                                   name="AdvanceProductType" value="Intraday"
                                                                   id="check_intraday">
                                                            <label class="form-check-label"
                                                                   for="check_intraday">Intraday</label>
                                                        </div>

                                                        <div class="form-check form-check-inline mx-3">
                                                            <input class="form-check-input rew-2" type="radio"
                                                                   name="AdvanceProductType" value="CNC" id="check_cnc">
                                                            <label class="form-check-label"
                                                                   for="check_cnc">CNC</label>
                                                        </div>

                                                        <div class="form-check form-check-inline mx-4">
                                                            <input class="form-check-input rew-2" type="radio"
                                                                   name="AdvanceProductType" value="Margin"
                                                                   id="check_margin">
                                                            <label class="form-check-label"
                                                                   for="check_margin">Margin</label>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div style="margin-left: -20px; margin-right: -20px"
                                                     class="form-section"></div>
                                                <div class="row mr-1">
                                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                                        <div class="mb-2">
                                                            <div class="row">
                                                                <div class="form-check form-check-inline my-1">
                                                                    <input class="form-check-input" type="radio"
                                                                           name="OrderType"
                                                                           id="check_market" value="Market"
                                                                           onchange="change_market()">
                                                                    <label class="form-check-label"
                                                                           for="check_market">Market</label>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="form-check form-check-inline my-1">
                                                                    <input class="form-check-input" type="radio"
                                                                           name="OrderType"
                                                                           id="check_limit" value="Limit"
                                                                           onchange="change_limit()">
                                                                    <label class="form-check-label"
                                                                           for="check_limit">Limit</label>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="form-check form-check-inline my-1">
                                                                    <input class="form-check-input" type="radio"
                                                                           name="OrderType"
                                                                           id="check_stop" value="Stop"
                                                                           onchange="change_stop()">
                                                                    <label class="form-check-label"
                                                                           for="check_stop">Stop</label>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="form-check form-check-inline my-1">
                                                                    <input class="form-check-input" type="radio"
                                                                           name="OrderType"
                                                                           id="check_stop_limit" value="Stop Limit"
                                                                           onchange="change_stop_limit()">
                                                                    <label class="form-check-label"
                                                                           for="check_stop_limit">Stop
                                                                        Limit</label>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="col-md-9 col-lg-9 col-xl-9">
                                                        <div class="row">
                                                            <div class="col">
                                                                <label class="form-check-label"
                                                                       for="input_limit_price">Limit
                                                                    Price</label>
                                                                <fieldset class="form-group">
                                                                    <input type="text" id="input_limit_price"
                                                                           class="form-control square"
                                                                           placeholder="Limit Price">
                                                                </fieldset>
                                                            </div>
                                                            <div class="col">
                                                                <label class="form-check-label"
                                                                       for="input_stop_price">Stop
                                                                    Price</label>

                                                                <fieldset class="form-group">
                                                                    <input type="text" id="input_stop_price"
                                                                           class="form-control square"
                                                                           placeholder="Stop Price" name="StopPrice">
                                                                </fieldset>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-check form-check-inline my-2">
                                                                    <input class="form-check-input" type="radio"
                                                                           name="Price"
                                                                           id="check_price">
                                                                    <label class="form-check-label"
                                                                           for="check_price"><strong>Price</strong></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <label class="form-check-label"
                                                                       for="input_stop_loss">Stop
                                                                    Loss
                                                                </label>
                                                                <fieldset class="form-group">
                                                                    <input type="text" id="input_stop_loss"
                                                                           class="form-control square"
                                                                           placeholder="Limit Price" name="StopLoss">
                                                                </fieldset>
                                                            </div>
                                                            <div class="col">
                                                                <label class="form-check-label"
                                                                       for="input_take_profit">Take
                                                                    Profit
                                                                </label>

                                                                <fieldset class="form-group">
                                                                    <input type="text" id="input_take_profit"
                                                                           class="form-control square"
                                                                           placeholder="Stop Price" name="TakeProfit">
                                                                </fieldset>
                                                            </div>
                                                            <div class="col">
                                                                <label class="form-check-label"
                                                                       style="font-size: 12px"
                                                                       for="input_trailing_stop_loss">Trailing Stop Loss
                                                                </label>

                                                                <fieldset class="form-group">
                                                                    <input type="text" id="input_trailing_stop_loss"
                                                                           class="form-control square"
                                                                           placeholder="Stop Price"
                                                                           name="TrailingStopLoss">
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <label class="form-check-label"
                                                                       for="input_quantity">Quantity
                                                                </label>
                                                                <fieldset class="form-group">
                                                                    <input type="text" id="input_quantity"
                                                                           class="form-control square"
                                                                           placeholder="Limit Price" name="Quantity">
                                                                </fieldset>
                                                            </div>
                                                            <div class="col">
                                                                <label class="form-check-label"
                                                                       for="input_disclosed_quantity">Disclosed
                                                                    Quantity</label>

                                                                <fieldset class="form-group">
                                                                    <input type="text" id="input_disclosed_quantity"
                                                                           class="form-control square"
                                                                           placeholder="Stop Price"
                                                                           name="DisclosedQuantity">
                                                                </fieldset>
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="mb-2">
                                                            <div class="form-check form-check-inline mx-2">
                                                                <input class="form-check-input" type="radio"
                                                                       name="Validity"
                                                                       id="check_day" value="Day">
                                                                <label class="form-check-label"
                                                                       for="check_day">Day</label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio"
                                                                       name="Validity"
                                                                       id="check_ioc" value="IOC">
                                                                <label class="form-check-label"
                                                                       for="check_ioc">IOC</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <input type="submit" value="Submit" class="btn btn-primary">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- // Basic form layout section end -->

            </div>


        </div>
        <!--/ Revenue, Hit Rate & Deals -->
        <!-- Emails Products & Avg Deals -->
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header p-1">
                        <h4 class="card-title float-left">Project X - <span
                                class="blue-grey lighten-2 font-small-3 mb-0">24 DEC 2017 - 09 APR 2019</span>
                        </h4>
                        <span class="badge badge-pill badge-info float-right m-0">Approved</span>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <p class="card-text">DataTables has most features enabled by default, so all you
                                need to do to use it with your own ables is to call the construction function:
                                $().DataTable();.</p>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered zero-configuration">
                                    <thead>
                                    <tr>
                                        <th>Stock</th>
                                        <th>Bucket</th>
                                        <th>Type</th>
                                        <th>Product Type</th>
                                        <th>Advance Product type</th>
                                        <th>Order Type</th>
                                        <th>Validity</th>
                                        <th>Price</th>
                                        <th>Limit Price</th>
                                        <th>Stop Price</th>
                                        <th>Stop Loss</th>
                                        <th>Take Profit</th>
                                        <th>Trailing Stop Loss</th>
                                        <th>Quantity</th>
                                        <th>Disclosed Quantity</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for trans in trans %}
                                        <tr>
                                            <td>{{ trans.Stock }}</td>
                                            <td>{{ trans.Bucket }}</td>
                                            <td>{{ trans.ProductType }}</td>
                                            <td>{{ trans.AdvanceProductType }}</td>
                                            <td>{{ trans.OrderType }}</td>
                                            <td>{{ trans.Validity }}</td>
                                            <td>{{ trans.Price }}</td>
                                            <td>{{ trans.LimitPrice }}</td>
                                            <td>{{ trans.StopPrice }}</td>
                                            <td>{{ trans.StopLoss }}</td>
                                            <td>{{ trans.TakeProfit }}</td>
                                            <td>{{ trans.TrailingStopLoss }}</td>
                                            <td>{{ trans.Quantity }}</td>
                                            <td>{{ trans.DisclosedQuantity }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>
    <!-- END: Content-->




    <!-- END: Content-->


{% endblock %}

{% block extrajs %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous">
    </script>

    <script>
        function fetchdata() {
            $.ajax({
                url: '{% url 'core:get_ltp' %}',
                type: 'get',
                success: function (response) {
                    console.log(response.ltp.length);
                    console.log(response.length);
                    for (var i = 0; i < response.ltp.length; i++) {
                        console.log(response.ltp[i]["exchange"]);
                        var ltpp = response.ltp[i]["ltp"]
                        document.getElementById("ltp" + [i + 1]).innerHTML = "- " + ltpp
                    }
                },
                complete: function (response) {
                    setTimeout(fetchdata, 5000);
                }
            });
        }

        $(document).ready(function () {
            setTimeout(fetchdata, 5000);
        });

    </script>

    <script>
        function change_regular() {
            if ($("#check_regular").is(':checked')) {
                if ($("#check_intraday").is(":disabled")) {
                    $("#check_intraday").removeAttr("disabled");
                }
                if ($("#check_cnc").is(":disabled")) {
                    $("#check_cnc").removeAttr("disabled");
                }
                if ($("#check_margin").is(":disabled")) {
                    $("#check_margin").removeAttr("disabled");
                }
                if ($("#check_day").is(":disabled")) {
                    $("#check_day").removeAttr("disabled");
                }
                if ($("#check_ioc").is(":disabled")) {
                    $("#check_ioc").removeAttr("disabled");
                }

                if ($("#check_disclosed_quantity").is(":disabled")) {
                    $("#check_disclosed_quantity").removeAttr("disabled");
                }
                $('#check_day').attr('checked', true);
                $('#check_intraday').attr('checked', true);
                $('#check_market').attr('checked', true);
                $('#check_price').attr('checked', true);

                $('#input_limit_price').attr('disabled', true).val('');
                $('#input_stop_price').attr('disabled', true).val('');
                $('#input_stop_loss').attr('disabled', true).val('');
                $('#input_take_profit').attr('disabled', true).val('');
                $('#input_trailing_stop_loss').attr('disabled', true).val('');

            }
            if ($("#check_market").is(':checked')) {
                change_market();
            }
            if ($("#check_limit").is(':checked')) {
                change_limit();
            }
            if ($("#check_stop").is(':checked')) {
                change_stop();
            }
            if ($("#check_stop_limit").is(':checked')) {
                change_stop_limit();
            }

        }

        function change_co() {
            if ($("#check_co").is(':checked')) {
                $('#check_intraday').attr('disabled', true).attr('checked', false);
                $('#check_cnc').attr('disabled', true).attr('checked', false);
                $('#check_margin').attr('disabled', true).attr('checked', false);
                $('#check_market').attr('checked', true);
                $('#check_day').attr('disabled', true).attr('checked', false);
                $('#check_ioc').attr('disabled', true).attr('checked', false);
                $('#check_price').attr('checked', true);


                $('#input_limit_price').attr('disabled', true).val('');
                $('#input_stop_price').attr('disabled', true).val('');
                $('#input_stop_loss').attr('disabled', true).val('');
                $('#input_take_profit').attr('disabled', true).val('');
                $('#input_trailing_stop_loss').attr('disabled', true).val('');
                $('#input_disclosed_quantity').attr('disabled', true).val('');

                if ($("#input_stop_loss").is(":disabled")) {
                    $("#input_stop_loss").removeAttr("disabled").val('');
                }
            }
            if ($("#check_market").is(':checked')) {
                change_market();
            }
            if ($("#check_limit").is(':checked')) {
                change_limit();
            }
            if ($("#check_stop").is(':checked')) {
                change_stop();
            }
            if ($("#check_stop_limit").is(':checked')) {
                change_stop_limit();
            }
        }

        function change_bo() {
            if ($("#check_bo").is(':checked')) {
                $('#check_intraday').attr('disabled', true).attr('checked', false);
                $('#check_cnc').attr('disabled', true).attr('checked', false);
                $('#check_margin').attr('disabled', true).attr('checked', false);
                $('#check_market').attr('checked', true);
                $('#check_day').attr('disabled', true).attr('checked', false);
                $('#check_ioc').attr('disabled', true).attr('checked', false);
                $('#check_price').attr('checked', true);

                $('#input_limit_price').attr('disabled', true).val('');
                $('#input_stop_price').attr('disabled', true).val('');
                $('#input_trailing_stop_loss').attr('disabled', true).val('');

                $('#input_disclosed_quantity').attr('disabled', true).val('');
                if ($("#input_stop_loss").is(":disabled")) {
                    $("#input_stop_loss").removeAttr("disabled").val('');
                }
                if ($("#input_take_profit").is(":disabled")) {
                    $("#input_take_profit").removeAttr("disabled").val('');
                }

            }
            if ($("#check_market").is(':checked')) {
                change_market();
            }
            if ($("#check_limit").is(':checked')) {
                change_limit();
            }
            if ($("#check_stop").is(':checked')) {
                change_stop();
            }
            if ($("#check_stop_limit").is(':checked')) {
                change_stop_limit();
            }
        }

        function change_awo() {
            if ($("#check_awo").is(':checked')) {
                if ($("#check_intraday").is(":disabled")) {
                    $("#check_intraday").removeAttr("disabled");
                }
                if ($("#check_cnc").is(":disabled")) {
                    $("#check_cnc").removeAttr("disabled");
                }
                if ($("#check_margin").is(":disabled")) {
                    $("#check_margin").removeAttr("disabled");
                }
                if ($("#check_day").is(":disabled")) {
                    $("#check_day").removeAttr("disabled");
                }
                if ($("#check_ioc").is(":disabled")) {
                    $("#check_ioc").removeAttr("disabled");
                }
                $('#check_intraday').attr('checked', true);
                $('#check_day').attr('checked', true);
                $('#check_market').attr('checked', true);
                $('#check_price').attr('checked', true);

                $('#input_limit_price').attr('disabled', true).val('');
                $('#input_stop_price').attr('disabled', true).val('');
                $('#input_stop_loss').attr('disabled', true).val('');
                $('#input_take_profit').attr('disabled', true).val('');
                $('#input_trailing_stop_loss').attr('disabled', true).val('');

                $('#input_disclosed_quantity').attr('disabled', true).val('');
            }
            if ($("#check_market").is(':checked')) {
                change_market();
            }
            if ($("#check_limit").is(':checked')) {
                change_limit();
            }
            if ($("#check_stop").is(':checked')) {
                change_stop();
            }
            if ($("#check_stop_limit").is(':checked')) {
                change_stop_limit();
            }
        }

        function change_market() {
            if ($("#check_regular").is(':checked')) {
                if ($("#input_quantity").is(":disabled")) {
                    $("#input_quantity").removeAttr("disabled");
                }
                if ($("#input_disclosed_quantity").is(":disabled")) {
                    $("#input_disclosed_quantity").removeAttr("disabled");
                }
                $('#input_limit_price').attr('disabled', true).val('');
                $('#input_stop_price').attr('disabled', true).val('');
                $('#input_stop_loss').attr('disabled', true).val('');
                $('#input_take_profit').attr('disabled', true).val('');
                $('#input_trailing_stop_loss').attr('disabled', true).val('');
            }
            if ($("#check_co").is(':checked')) {
                if ($("#input_stop_loss").is(":disabled")) {
                    $("#input_stop_loss").removeAttr("disabled").val('');
                }
                if ($("#input_quantity").is(":disabled")) {
                    $("#input_quantity").removeAttr("disabled").val('');
                }
                $('#input_limit_price').attr('disabled', true).val('');
                $('#input_stop_price').attr('disabled', true).val('');
                $('#input_take_profit').attr('disabled', true).val('');
                $('#input_trailing_stop_loss').attr('disabled', true).val('');
            }
            if ($("#check_bo").is(':checked')) {
                if ($("#input_stop_loss").is(":disabled")) {
                    $("#input_stop_loss").removeAttr("disabled").val('');
                }
                if ($("#input_take_profit").is(":disabled")) {
                    $("#input_take_profit").removeAttr("disabled").val('');
                }
                $('#input_limit_price').attr('disabled', true).val('');
                $('#input_stop_price').attr('disabled', true).val('');
                $('#input_trailing_stop_loss').attr('disabled', true).val('');
                $('#input_disclosed_quantity').attr('disabled', true).val('');
            }
            if ($("#check_awo").is(':checked')) {
                if ($("#input_quantity").is(":disabled")) {
                    $("#input_quantity").removeAttr("disabled").val('');
                }
                $('#input_limit_price').attr('disabled', true).val('');
                $('#input_stop_price').attr('disabled', true).val('');
                $('#input_stop_loss').attr('disabled', true).val('');
                $('#input_take_profit').attr('disabled', true).val('');
                $('#input_trailing_stop_loss').attr('disabled', true).val('');
                $('#input_disclosed_quantity').attr('disabled', true).val('');
            }
        }

        function change_limit() {
            if ($("#check_limit").is(':checked')) {
                if ($("#input_limit_price").is(":disabled")) {
                    $("#input_limit_price").removeAttr("disabled").val('');
                }
                $('#input_stop_price').attr('disabled', true).val('');
                $('#input_stop_loss').attr('disabled', true).val('');
                $('#input_take_profit').attr('disabled', true).val('');
                $('#input_trailing_stop_loss').attr('disabled', true).val('');
            }
            if ($("#check_co").is(':checked')) {
                if ($("#input_limit_price").is(":disabled")) {
                    $("#input_limit_price").removeAttr("disabled").val('');
                }
                if ($("#input_stop_loss").is(":disabled")) {
                    $("#input_stop_loss").removeAttr("disabled").val('');
                }
                $('#input_stop_price').attr('disabled', true).val('');
                $('#input_take_profit').attr('disabled', true).val('');
                $('#input_trailing_stop_loss').attr('disabled', true).val('');
            }
            if ($("#check_bo").is(':checked')) {
                if ($("#input_limit_price").is(":disabled")) {
                    $("#input_limit_price").removeAttr("disabled").val('');
                }
                if ($("#input_stop_loss").is(":disabled")) {
                    $("#input_stop_loss").removeAttr("disabled").val('');
                }
                if ($("#input_take_profit").is(":disabled")) {
                    $("#input_take_profit").removeAttr("disabled").val('');
                }
                $('#input_stop_price').attr('disabled', true).val('');
                $('#input_trailing_stop_loss').attr('disabled', true).val('');
                $('#input_disclosed_quantity').attr('disabled', true).val('');
            }
            if ($("#check_awo").is(':checked')) {
                if ($("#input_limit_price").is(":disabled")) {
                    $("#input_limit_price").removeAttr("disabled").val('');
                }
                $('#input_stop_price').attr('disabled', true).val('');
                $('#input_stop_loss').attr('disabled', true).val('');
                $('#input_take_profit').attr('disabled', true).val('');
                $('#input_trailing_stop_loss').attr('disabled', true).val('');
                $('#input_disclosed_quantity').attr('disabled', true).val('');
            }

        }

        function change_stop() {
            if ($("#check_stop").is(':checked')) {
                if ($("#input_stop_price").is(":disabled")) {
                    $("#input_stop_price").removeAttr("disabled").val('');
                }
                $('#input_limit_price').attr('disabled', true).val('');
                $('#input_stop_loss').attr('disabled', true).val('');
                $('#input_take_profit').attr('disabled', true).val('');
                $('#input_trailing_stop_loss').attr('disabled', true).val('');
            }
            if ($("#check_co").is(':checked')) {
                if ($("#input_stop_price").is(":disabled")) {
                    $("#input_stop_price").removeAttr("disabled").val('');
                }
                if ($("#input_stop_loss").is(":disabled")) {
                    $("#input_stop_loss").removeAttr("disabled").val('');
                }
                $('#input_limit_price').attr('disabled', true).val('');
                $('#input_take_profit').attr('disabled', true).val('');
                $('#input_trailing_stop_loss').attr('disabled', true).val('');
            }
            if ($("#check_bo").is(':checked')) {
                if ($("#input_stop_price").is(":disabled")) {
                    $("#input_stop_price").removeAttr("disabled").val('');
                }
                if ($("#input_stop_loss").is(":disabled")) {
                    $("#input_stop_loss").removeAttr("disabled").val('');
                }
                if ($("#input_take_profit").is(":disabled")) {
                    $("#input_take_profit").removeAttr("disabled").val('');
                }
                $('#input_limit_price').attr('disabled', true);
                $('#input_trailing_stop_loss').attr('disabled', true).val('');
                $('#input_disclosed_quantity').attr('disabled', true).val('');
            }
            if ($("#check_awo").is(':checked')) {
                if ($("#input_stop_price").is(":disabled")) {
                    $("#input_stop_price").removeAttr("disabled").val('');
                }
                $('#input_limit_price').attr('disabled', true).val('');
                $('#input_stop_loss').attr('disabled', true).val('');
                $('#input_take_profit').attr('disabled', true).val('');
                $('#input_trailing_stop_loss').attr('disabled', true).val('');
                $('#input_disclosed_quantity').attr('disabled', true).val('');
            }
        }

        function change_stop_limit() {
            if ($("#check_stop_limit").is(':checked')) {
                if ($("#input_limit_price").is(":disabled")) {
                    $("#input_limit_price").removeAttr("disabled").val('');
                }
                if ($("#input_stop_price").is(":disabled")) {
                    $("#input_stop_price").removeAttr("disabled").val('');
                }
                $('#input_stop_loss').attr('disabled', true);
                $('#input_take_profit').attr('disabled', true).val('');
                $('#input_trailing_stop_loss').attr('disabled', true).val('');
            }
            if ($("#check_co").is(':checked')) {
                if ($("#input_limit_price").is(":disabled")) {
                    $("#input_limit_price").removeAttr("disabled").val('');
                }
                if ($("#input_stop_price").is(":disabled")) {
                    $("#input_stop_price").removeAttr("disabled").val('');
                }
                if ($("#input_stop_loss").is(":disabled")) {
                    $("#input_stop_loss").removeAttr("disabled").val('');
                }
                $('#input_take_profit').attr('disabled', true);
                $('#input_trailing_stop_loss').attr('disabled', true).val('');
            }
            if ($("#check_bo").is(':checked')) {
                if ($("#input_limit_price").is(":disabled")) {
                    $("#input_limit_price").removeAttr("disabled").val('');
                }
                if ($("#input_stop_price").is(":disabled")) {
                    $("#input_stop_price").removeAttr("disabled").val('');
                }
                if ($("#input_stop_loss").is(":disabled")) {
                    $("#input_stop_loss").removeAttr("disabled").val('');
                }
                if ($("#input_take_profit").is(":disabled")) {
                    $("#input_take_profit").removeAttr("disabled").val('');
                }
                $('#input_trailing_stop_loss').attr('disabled', true).val('');
                $('#input_disclosed_quantity').attr('disabled', true).val('');
            }
            if ($("#check_awo").is(':checked')) {
                if ($("#input_limit_price").is(":disabled")) {
                    $("#input_limit_price").removeAttr("disabled").val('');
                }
                if ($("#input_stop_price").is(":disabled")) {
                    $("#input_stop_price").removeAttr("disabled").val('');
                }
                $('#input_stop_loss').attr('disabled', true).val('');
                $('#input_take_profit').attr('disabled', true).val('');
                $('#input_trailing_stop_loss').attr('disabled', true).val('');
                $('#input_disclosed_quantity').attr('disabled', true).val('');
            }
        }

    </script>
{% endblock %}
